*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #F0EDF2;
}

body{
    height: 100vh;
    background-color: #121220;
}

span{
    color: #f9004d;
}

/* homepage */

/* navbar */
header{
    display: flex;
    justify-content: space-between ;
    padding: 20px;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
}

header h1{
    font-family: 'Franklin Gothic';
}

nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a:hover{
    color: #f9004d;
	transition: .3s;
}

/* hero page */
#hero{
    position: absolute;
	top: 50%;
	left:8%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    gap: 180px;
}


#hero div h1{
    font-size: 75px;
}

#hero div h3{
    font-size: 25px;
}

#hero div p{
    font-size: 20px;
}

#contact{
    margin-top: 10px;
    border-radius: 10px;
    border-color: #F0EDF2;
    height: 30px;
    width: 100px;
    border-style: solid;
    position: absolute;
    background-color: #121220;
    cursor: pointer;
}

#contact:hover{
    background-color: #f9004d;
    transition: 0.5s;
}

#hero div img{
    width: 600px;
    margin-top: -25px;
}

/* pop up form */
#popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 380px;
    padding: 20px 30px;
    background-color: #1a1a2c;
    border-radius: 10px;
    display: none;
    transition: ease-in-out 10000ms;
}


#popup #close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}

#popup .form h2{
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 25px
}

#popup .form .form-element{
    margin: 15px 0px;
}


#popup .form .form-element label{
    font-size: 14px;
}

#popup .form .form-element input[type="email"],
#popup .form .form-element input[type="text"],
#popup .form .form-element textarea{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid;
    border-radius: 5px;
    color: black;
}

#popup .form-element #krm-button{
    background-color: #f9004d;
    border-radius: 10px;
    border-color: #F0EDF2;
    height: 30px;
    width: 100px;
    border-style: solid;
    margin-top: 10px;
    cursor: pointer;
}

#popup .form-element #krm-button:hover{
    background-color: #121220;
}
/* ahir homepage */


/* about */

#about{
    position: absolute;
	top: 50%;
	left:25%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

#deskripsi{
    background-color: #1a1a2c;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

#sosmed{
    background-color: #1a1a2c;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
}

#icon{
    margin-top: 5px;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}

#about div p{
    margin-top: 5px;
    text-align: start;
}

#about #img img{
    width: 300px;
    margin-top: -25px;
    border: solid #F0EDF2;
    border-radius: 5px;
    margin-right: 2px;
}

.fa-facebook:hover,.fa-twitter:hover,.fa-instagram:hover,.fa-youtube:hover{
   color: #f9004d;
   transition: 2s;
}
/* ahor about page */

/* skill page */
#skill{
    text-align: center;
	left:8%;
    right: 8%;

}

#skill p{
    margin-bottom: 10px;
    margin-top: 10px;
}

#skill .isi{
    display: flex;
    text-align: start;
    padding: 10px;
    gap: 20px;
}

.des p{
    margin-top: 5px;
}
/* ahir skill */


/* blog page */
#blog{
    text-align: center;
    position: absolute;
    top: 50%;
    left:8%;
    right: 8%;
    transform: translateY(-50%);
}

#pen img{
    background-color: #F0EDF2;
    border-radius: 100px;
    border: solid #f9004d 5px;
    width: 75px;
}

.art{
    background-color: #121220;
    border: #F0EDF2 solid;
    text-align: start;
    width: 100%;
    height: 75px;
    padding: 10px;
    cursor: pointer;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    height: 100px;
}

.art:hover{
    background-color: #1a1a2c;
}

.art img{
    background-color: #F0EDF2;
}
/* ahir blog page */